body{
    background-color: aquamarine;
    font-family: Arial;
    margin: 10px;
}
table{
    background-color: rgb(226, 170, 226);
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    
    width: 80%;
    /*border-collapse: collapse;*/
    
    margin: 0 auto;
}
th,td{
    border: solid 2px black
    padding 40px
}

thead{
    background-color: lemonchiffon;
    border-bottom: solid 2px black;
    color: blueviolet;
}

tr:nth-child(even) {
    background-color: rgb(90, 157, 173);
}

tr:hover td{
    background-color: aqua;
    color: azure;
}